/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;  */

/* --------- General --------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* --------- Header ----------*/

.logo {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

/* --------- Location --------*/

.location {
    background-color: #e0e0d1;
}

.locationtext {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#locationp {
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Réservation ------*/

#reservation {
    background-color: #f5f5f0;
}

h1 {
    padding-top: 2rem;
    text-align: center;
}

p {
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.button {
    text-align: center;
    padding-bottom: 3rem;
}

.btn {
    color: white;
    font-size: medium;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px #8137db;
}

.btn:hover {
    box-shadow: 0 2px #8137db;
    top: 1px;
}

/* --------- Fonction ------*/

h2 {
    text-align: center;
    margin: 2rem 0;
}

#fonctionlists {
    display: flex;
    justify-content: space-around;
}

.fonctionlist {
    background-color: #e0e0d0;
    padding: 1rem;
    border-radius: 6px;
}

/* ---------- Restaurants --------*/

#restaurant {
    background-color: #e0e0d0;
}
.restoarticles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0 2rem;
}
.menuarticle {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%
}

.menuimg {
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.menucontenttext{
    display: flex;
}