/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;  */

/* --------- General --------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h1 {
    display: none;
}

/* --------- Header ----------*/

header {
    display: flex;
}

.logo {
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}
 
.logoimg{
    width: 70%;
}

/* --------- Location --------*/

.location {
    background-color: #EAEAEA ;
}

.locationtext {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#locationp {
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Réservation ------*/

#reservation {
    background-color: #F6F6F6;
}

.titre {
    padding-top: 2rem;
    text-align: center;
}

p {
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.button {
    text-align: center;
    padding-bottom: 3rem;
}

.btn {
    color: #ffffff;
    font-size: medium;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px #8137db;
}

.btn:hover {
    box-shadow: 0 2px #8137db;
    top: 1px;
}

/* --------- Fonction ------*/

h3 {
    text-align: center;
    margin: 1rem 0;
    padding: 2rem 0 1rem 0;
}

#fonctionlists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.fonctionlist {
    background-color: #F6F6F6;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 2px 4px 8px 3px #e4e4e7;
}

.nicon{
    position: absolute;
    /* top: 25px; */
    left: 7rem;
    background: #9356DC;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    font-size: 0.8em;
    color: #FFF;
}

@media screen and (max-width: 700px) {
    #fonctionlists {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 2rem;
    }
}

/* ---------- Restaurants --------*/

#restaurant {
    background-color: #F6F6F6;
    padding-bottom: 2rem;
}

.restoarticles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 0 4rem;
}

.menuarticle {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%
}

.menuimg {
    height: 20rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.menucontenttext {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.menup {
    padding-top: .5rem;
}

.menuicon {
    font-size: 180%;
}

.menuicon:hover {
    display: none;
}

.menuiconfull {
    display: none;
    font-size: 180%;
}

.menuiconfull:hover {
    display: inline;
    background-image: -webkit-linear-gradient( #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menuicon:hover {}

@media screen and (max-width: 700px) {
    .restoarticles {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        margin: 0 2rem;
    }
    .menuimg {
        height: 13rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .title {
        text-align: start;
        margin: 1rem 0;
        padding: 2rem 0 1rem 3rem;
    }
    .menup {
        padding-top: .3rem;
    }
    .menucontenttext {
        padding: .5rem 1.5rem;
    }
}

/* ---------- Footer ---------*/

footer {
    background-color:#353535;
}

.footerlogo {
    font-family: 'Shrikhand', cursive;
    color: #ffffff;
    padding: 2rem 0 1.5rem 0;
    text-align: center;
    font-size: large;
}

.footertext {
    padding-bottom: 2rem;
    text-align: center;
}

.footerlink {
    padding: 0 2rem;
    color: #ffffff;
}

.footericon {
    color: #ffffff;
    padding-right: .5rem;
}

@media screen and (max-width: 700px) {
    .footertext {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .footerlogo {
        text-align: start;
        padding: 1.5rem 0 .5rem 2rem;
    }
    .footerlink {
        padding-top: .5rem;
    }
}

/* ------------ Menu PAGE ---------- */

.backicon {
    font-size: 180%;
    padding: 1.5rem 1rem;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
}

.restoname {
    font-family: "Shrikhand", "Roboto", Verdana, sans-serif;
    background: #F5F5F6;
    width: 100%;
    margin: auto;
    /* margin-top: -20px; */
    border-radius: 40px 40px 0 0;
    position: absolute;
    top: 320px;
    z-index: 2;
}

.restobody {
    background: #F5F5F6;
}

.carte {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 0 3rem;
}

@media screen and (max-width: 700px) {
    .carte {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }
}

.menutitre {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.menuh {
    font-family: 'Shrikhand', cursive;
}

.menucat {
    text-align: start;
    padding-left: 1.5rem;
}
.menucat::after{
    content: "";
    display: block;
    width: 10%;
    border-bottom: 3px solid #99E2D0;
    padding-top: 6px;
}

.menutext1{
    font-weight: bold;
}

.menutext2{
    font-size: 14px;
    padding-top: .25rem;
}
.price {
    font-weight: bold;
    padding-left: 1rem;
}


.catcontent {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 2px 4px 8px 3px #e4e4e7;
    cursor: pointer;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}

.cattext {
    display: flex;
    justify-content: space-between;
}

.btn2 {
    padding: 1rem 3rem;
    margin-top: 2rem;
}